@import url("https://fonts.googleapis.com/css2?family=Acme&family=Comfortaa:wght@300&family=Fjalla+One&display=swap");
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

body {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9))), url(../img/sweat.jpg) top center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(../img/sweat.jpg) top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

body a {
  text-decoration: none;
  color: white;
}

body a :hover {
  color: red;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #000000;
}

body .header .logo_container {
  margin: 1rem;
  border-radius: 10%;
}

body .header .logo_container_active {
  background-color: red;
}

body .header .logo_container :hover {
  background-color: red;
}

body .header .logo_container img {
  height: 75px;
  width: auto;
}

body .header .nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .nav ol {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body .header .nav ol .active {
  color: red;
}

body .header .nav ol .two-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .header .nav ol li {
  padding: 0.5rem;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

body section#carousel > figure > img {
  display: none;
  margin: 0px auto;
}

body section#carousel > figure.visible > img {
  display: block;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 200px;
  padding: 1rem;
}

body section#carousel > figure > figcaption {
  display: none;
}

body section#carousel > figure.visible > figcaption {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

body .form {
  text-align: center;
  padding: 1rem;
}

body .form_chrissy {
  padding-top: 4rem;
}

body .form label {
  font-family: 'Acme', sans-serif;
  font-size: 1rem;
}

body .form button {
  margin-top: 1rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-weight: bolder;
}

body .form button:hover {
  background-color: red;
}

body .form input {
  width: 50vw;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding: 0.5rem;
  color: white;
}

body .form input:focus {
  outline: none;
  text-align: center;
}

body .form textarea {
  width: 50vw;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding: 0.5rem;
  color: white;
}

body .form textarea:focus {
  outline: none;
}

body .content-container {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 80%;
  padding: 1rem;
  text-align: center;
}

body .content-container .chrissy {
  padding-bottom: 1rem;
}

body .content-container .trainers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-container .trainers .pic-container {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-container .trainers .pic-container h1 {
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
}

body .content-container .trainers .pic-container img {
  height: 70px;
  width: auto;
  position: center center;
  border-radius: 10%;
}

body .content-container .trainers p {
  text-align: center;
  font-size: 11px;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
}

body .page-name {
  text-align: center;
  font-size: 3rem;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body footer {
  font-size: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000000;
}

body footer .icons {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .icons .fas,
body footer .icons .fab {
  padding: 1rem;
  font-size: 1rem;
}

body footer .footer-text-container {
  margin-right: 1rem;
}

body footer .footer-text-container a {
  color: red;
}

@media screen and (min-width: 600px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav ol {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav ol .two-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav ol li {
    padding: 0.5rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */