@import url("https://fonts.googleapis.com/css2?family=Acme&family=Comfortaa:wght@300&family=Fjalla+One&display=swap");
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0)), to(rgba(39, 39, 39, 0.9))), url(../img/sweat.jpg) top center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0), rgba(39, 39, 39, 0.9)), url(../img/sweat.jpg) top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

body a {
  text-decoration: none;
  color: white;
}

body a :hover {
  color: red;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
}

body .header .logo_container {
  margin: 1rem;
}

body .header .logo_container img {
  height: 75px;
  width: auto;
}

body .header .nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .nav ol {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body .header .nav ol .active {
  color: red;
}

body .header .nav ol .two-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .header .nav ol li {
  padding: 0.5rem;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

body .page-name {
  text-align: center;
  font-size: 3rem;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body footer {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
}

body footer .icons {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .icons .fas,
body footer .icons .fab {
  padding: 1rem;
  font-size: 2rem;
}

body footer .footer-text-container {
  margin-right: 1rem;
}
/*# sourceMappingURL=style.css.map */