//--------------- Imports -------------------//
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Comfortaa:wght@300&family=Fjalla+One&display=swap');

//------------- Configuration ---------------//
$primary-color: #000000;
$secondary-color: rgb(255, 0, 0);
$text-color: white;

* {
	text-decoration: none;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	overflow: hidden;
}

//---------------- Styles -------------------//

body {
	height: 100vh;
	background: linear-gradient(to right, rgba($primary-color, 0.5), rgba($primary-color, 0.9)),
		url(../img/sweat.jpg) top center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $text-color;

	a {
		text-decoration: none;
		color: $text-color;

		:hover {
			color: $secondary-color;
		}
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: $primary-color;

		.logo_container {
			margin: 1rem;
			border-radius: 10%;

			&_active {
				background-color: $secondary-color;
			}

			:hover {
				background-color: $secondary-color;
			}

			img {
				height: 75px;
				width: auto;
			}
		}

		.nav {
			color: $text-color;
			display: flex;
			justify-content: center;
			align-items: center;

			ol {
				width: 60vw;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				list-style: none;

				.active {
					color: $secondary-color;
				}

				.two-links {
					justify-content: space-around;
				}

				li {
					padding: 0.5rem;
					text-align: center;
					font-family: 'Acme', sans-serif;
				}
			}
		}
	}

	//---------- Image Carousal -----------

	section#carousel > figure > img {
		display: none;
		margin: 0px auto;
	}
	section#carousel > figure.visible > img {
		display: block;
		position: relative;
		overflow: hidden;
		width: auto;
		height: 190px;
		margin: 1rem auto;
		box-shadow: 10px 5px 10px $secondary-color;

		p {
			font-size: 11px;
		}
	}
	section#carousel > figure > figcaption {
		display: none;
	}
	section#carousel > figure.visible > figcaption {
		display: block;
		text-align: center;
		font-weight: bold;
		font-size: 1rem;
		color: $text-color;
	}
	//----------------------- Form -----------------------------

	.form {
		text-align: center;
		padding: 1rem;

		label {
			font-family: 'Acme', sans-serif;
			font-size: 1rem;
		}
		button {
			margin-top: 1rem;
			padding: 5px;
			border: none;
			border-radius: 5px;
			background-color: $text-color;
			font-weight: bolder;

			&:hover {
				background-color: $secondary-color;
			}
		}

		input {
			width: 50vw;
			background: transparent;
			border: none;
			border-bottom: 2px solid rgba($text-color, 0.3);
			padding: 0.5rem;
			color: $text-color;

			&:focus {
				outline: none;
			}
		}

		textarea {
			width: 50vw;
			background: transparent;
			border: none;
			border-bottom: 2px solid rgba($text-color, 0.3);
			padding: 0.5rem;
			color: $text-color;

			&:focus {
				outline: none;
			}
		}
	}
	//---------------------------------------------------------
	.content-container {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 80%;
		padding: 1rem;
		text-align: center;

		a {
			color: $secondary-color;
		}

		&_form {
			position: fixed;
			top: 100px;
		}

		.idlife-logo {
			height: 50px;
			width: auto;
			margin: 1rem;
		}

		.idlife-product {
			height: 200px;
			width: auto;
			//	margin: 1rem;
		}

		.landingpage-title {
			padding: 2rem;
			font-family: 'Acme', sans-serif;
		}

		.trainers {
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.pic-container {
				padding: 0.5rem;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;

				h1 {
					font-family: 'Acme', sans-serif;
					font-size: 2rem;
				}

				img {
					height: 70px;
					width: auto;
					position: center center;
					border-radius: 10%;
				}
			}

			p {
				text-align: center;
				font-size: 11px;
				font-family: 'Comfortaa', cursive;
				font-weight: bolder;
			}
		}
	}

	//-------------- Temporary Code For Tracking Pages ----------------
	.page-name {
		text-align: center;
		font-size: 3rem;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translateX(-50%);
	}
	//-------------------------------------------------------------

	footer {
		font-size: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100vw;
		text-align: center;
		color: $text-color;
		position: fixed;
		bottom: 0;
		left: 50vw;
		transform: translateX(-50%);
		background-color: $primary-color;

		.icons {
			width: 50vw;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.fas,
			.fab {
				padding: 1rem;
				font-size: 1rem;
			}
		}

		.footer-text-container {
			margin-right: 1rem;

			a {
				color: $secondary-color;
			}
		}
	}
}
//--------------- Media Querries ----------------------
@media screen and (min-width: 600px) {
	.nav {
		flex-direction: row;
		justify-content: flex-end;

		ol {
			text-align: right;
			display: flex;
			flex-direction: row;

			.two-links {
				flex-direction: row;
				justify-content: space-around;
			}

			li {
				padding: 0.5rem;
				text-align: center;
				font-family: 'Acme', sans-serif;
			}
		}
	}
}
